*,*::after,*::before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 100vh;
    background-image: linear-gradient(red, blue);
}

.voice-to__text{
    width: 600px;
    text-align: center;
}

#convert-text{
    width: 100%;
    height: 200px;
    border-radius: 15px;
    resize: none;
    background-color: wheat;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

#convert-text:focus{
    outline: 3px solid green;
}

h1{
    font-size: 50px;
    color: aliceblue;
}

button{
    padding: 12px 20px;
    background: #0ea4da;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    color: aliceblue;
}